span{
    display: inline-block;
}

#timer span{
    margin-top: 65px;
}
#lap span{
    display: block;
};

#timer p{
    display: inline;
}

#timer, #buttons, .save_remove{
    text-align: center;
    margin-top: 10px;

}

#timer{
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin: 0 auto;

};


.number_lap{
    display: block;
}

button{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 30px;
    background-color: black;
    color: cornsilk;
}